<template>
    <div id="formdiv">
	    <div>
            <div class="fs-webform-loader" style="margin:auto">
                
                <div class="loader-box">
                    <div class="loader"></div>
                    <div id="loader-text" style="">It's just you, me and the loading screen.</div>
                </div>
            </div>
            <div id="fs-webform-container_dd43eaec6c0a3de5b4c2ae2cdb33759986c37f3ff9081b128baae352ba6014f7_4622" class="fs-webform-container fs_dd43eaec6c0a3de5b4c2ae2cdb33759986c37f3ff9081b128baae352ba6014f7"
                style="display:none;">
                <div id="appendscript"></div>
                
                
                <div class="form-modal">
                    <div>
                        <link rel="stylesheet" type="text/css" href="https://d2q29yaerazix2.cloudfront.net/1/formserv.css" crossorigin="anonymous">
                        <link rel="stylesheet" type="text/css" href="https://d952cmcgwqsjf.cloudfront.net/assets/webforms.css" crossorigin="anonymous">
                    </div>
                    <div class="fserv-container">
                        <div :class="{'fs-notifier':true,'showSuccess':showSuccess}">
                            <span>Takk for henvendelsen, den er nå registrert.</span>
                            <a class="close" @click="()=> { this.showSuccess = false}">×</a>
                        </div>
                        <h2 class="fserv-form-name">Få tilbud på denne bilen</h2>
                        <label class="fserv-form-description">Takk for at du vil ha et tilbud på denne bilen, fyll inn dette skjema.</label>
                        <!-- <form action="https://icaravan.freshsales.io/smart_form/create_entity"
                            method="POST" novalidate="novalidate"> -->
                            <!-- <div class="fserv-form">
                                <div class="fserv-field">
                                    <label class="fserv-label">First name</label>
                                    <input class="fserv-input-text" name="lead[first_name]" type="text" placeholder="Enter value" v-model="first_name">
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field fserv-required">
                                    <label class="fserv-label">Last name</label>
                                    <input data-regex-required-error="can't be empty." data-regex-required="([^\s])" class="fserv-input-text"
                                        name="lead[last_name]" type="text" placeholder="Enter value" v-model="last_name" required>
                                        <label id="lead[last_name]-error" :class="{'error':true, 'hide':true,'show':showerror}" for="lead[last_name]">Last name can't be empty.</label>
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field">
                                    <label class="fserv-label">Email</label>
                                    <input data-regex-format="^[-a-zA-Z0-9.'’&amp;_%+]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,20}$" data-regex-message="is invalid"
                                        data-regex-format-error="is invalid." class="fserv-input-text" name="lead[email]" type="email" placeholder="Enter value" v-model="email">
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field">
                                    <label class="fserv-label">Mobile</label>
                                    <input class="fserv-input-text" name="lead[mobile_number]" type="tel" placeholder="Enter value" v-model="mobile_number">
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field fserv-required fserv-hidden">
                                    <label class="fserv-label">Url</label>
                                    <input data-regex-required-error="can't be empty." data-regex-required="([^\s])" class="fserv-input-text"
                                        name="lead[custom_field][cf_url]" type="text" placeholder="Enter value" v-model="activeurl">
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field fserv-required fserv-hidden">
                                    <label class="fserv-label">entity type</label>
                                    <input data-regex-required-error="can't be empty." data-regex-required="([^\s])" class="fserv-input-text"
                                        name="entity_type" type="text" value="1">
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field fserv-required fserv-hidden">
                                    <label class="fserv-label">web form id</label>
                                    <input data-regex-required-error="can't be empty." data-regex-required="([^\s])" class="fserv-input-text"
                                        name="asset_key" type="text" value="dd43eaec6c0a3de5b4c2ae2cdb33759986c37f3ff9081b128baae352ba6014f7">
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div>
                                    <div class="col-xs-12  opt-in">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="opt_in"> Jeg ønsker å motta informasjon fra iCaravan </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="text-align:right;padding-right:20px">
                                    <div class="col-xs-12">
                                       <button class="fserv-button-submit" type="submit" @click="submitform">Send inn</button> 
                                    </div>
                                    
                                </div>
                            </div> -->

                            <div class="fserv-form">
                                <div class="fserv-field fserv-required">
                                    <label class="fserv-label">Fornavn</label>
                                    <input data-regex-required-error="can't be empty." data-regex-required="([^\s])" class="fserv-input-text" name="lead[first_name]" type="text" placeholder="Fyll inn" v-model="first_name">
                                    <label id="lead[last_name]-error" :class="{'error':true, 'hide':true,'show':showerror1}" for="lead[last_name]">First name can't be empty.</label>
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field fserv-required">
                                    <label class="fserv-label">Last name</label>
                                    <input data-regex-required-error="can't be empty." data-regex-required="([^\s])" class="fserv-input-text" name="lead[last_name]" type="text" placeholder="Enter value" v-model="last_name">
                                    <label id="lead[last_name]-error" :class="{'error':true, 'hide':true,'show':showerror2}" for="lead[last_name]">Last name can't be empty.</label>
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field fserv-required">
                                    <label class="fserv-label">Email</label>
                                    <input data-regex-format="^[-a-zA-Z0-9.'’&amp;_%+]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,20}$" data-regex-required-error="can't be empty." data-regex-message="is invalid" data-regex-format-error="is invalid." data-regex-required="([^\s])" class="fserv-input-text" name="lead[email]" type="email" placeholder="Enter value" v-model="email">
                                    <label id="lead[last_name]-error" :class="{'error':true, 'hide':true,'show':showerror3}" for="lead[last_name]">Email can't be empty.</label>
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field fserv-required">
                                    <label class="fserv-label">Mobile</label>
                                    <input data-regex-required-error="can't be empty." data-regex-required="([^\s])" class="fserv-input-text" name="lead[mobile_number]" type="tel" placeholder="Enter value" v-model="mobile">
                                    <label id="lead[last_name]-error" :class="{'error':true, 'hide':true,'show':showerror4}" for="lead[last_name]">Mobile can't be empty.</label>
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field fserv-required">
                                    <label class="fserv-label">City</label>
                                    <input data-regex-required-error="can't be empty." data-regex-required="([^\s])" class="fserv-input-text" name="lead[city]" type="text" placeholder="Enter value" v-model="city">
                                    <label id="lead[last_name]-error" :class="{'error':true, 'hide':true,'show':showerror5}" for="lead[last_name]">City can't be empty.</label>
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field fserv-required">
                                    <label class="fserv-label">Zipcode</label>
                                    <input data-regex-required-error="can't be empty." data-regex-required="([^\s])" class="fserv-input-text" name="lead[zipcode]" type="text" placeholder="Enter value" v-model="zipcode">
                                    <label id="lead[last_name]-error" :class="{'error':true, 'hide':true,'show':showerror6}" for="lead[last_name]">Zipcode can't be empty.</label>
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field">
                                    <label class="fserv-label">Registreringsnummer Innbytte</label>
                                    <input class="fserv-input-text" name="lead[deal][name]" type="text" placeholder="Skriv inn regnummer her" v-model="reg_number">
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field fserv-required fserv-hidden">
                                    <label class="fserv-label">Url</label><input data-regex-required-error="can't be empty." data-regex-required="([^\s])" class="fserv-input-text" name="lead[custom_field][cf_url]" type="text" placeholder="Enter value" v-model="activeurl">
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field fserv-required fserv-hidden">
                                    <label class="fserv-label">entity type</label>
                                    <input data-regex-required-error="can't be empty." data-regex-required="([^\s])" class="fserv-input-text" name="entity_type" type="text" value="1">
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div class="fserv-field fserv-required fserv-hidden">
                                    <label class="fserv-label">web form id</label>
                                    <input data-regex-required-error="can't be empty." data-regex-required="([^\s])" class="fserv-input-text" name="asset_key" type="text" value="139d2edcc0cc8e7a92707caa15b64dadafc35a38c347453a6d4793ccf7b6bc8d">
                                    <div class="fserv-control" style="display:none;"></div>
                                </div>
                                <div>
                                    <button class="fserv-button-submit" type="submit" @click="submitform">Send inn</button>
                                </div>
                            </div>
                        <!-- </form> -->
                        <div class="powered-by" style=""> Powered by
                            <a href="https://www.freshworks.com/freshsales-crm/?utm_source=webforms&amp;utm_medium=organic" target="_blank">Freshsales</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    $(document).ready(function() {
        $(".mobile-menu-btn").click(function(){
            $(".mobile-menu-btn").toggleClass("hidden");
            $(".mobile-menu").toggleClass("hidden");
            $("body").toggleClass("fixed-screen");
        });
    });
    export default {
        data(){
            return{
                activeurl:'',
                first_name:'',
                last_name:'',
                email:'',
                mobile:'',
                city:'',
                zipcode:'',
                reg_number:'',
                url:'',
                showerror1:false,
                showerror2:false,
                showerror3:false,
                showerror4:false,
                showerror5:false,
                showerror6:false,
                showSuccess:false,
            }
        },

        methods: {
            toStep2(){
                this.$router.push({path :'/step2'});
            },
            closeMenu(){
                this.hide = !this.hide;
            },
            openform(){
                console.log('opening form');              
                document.getElementById('formdiv').style.display = 'block';
            },
            submitform(){
                var self =this;
                if(this.first_name == ''){
                    this.showerror1 = true;
                } else {
                    this.showerror1 = false;
                } 
                if(this.last_name == ''){
                    this.showerror2 = true;
                } else {
                    this.showerror2 = false;
                }
                if(this.email == ''){
                    this.showerror3 = true;
                }else {
                    this.showerror3 = false;
                }
                if(this.mobile == ''){
                    this.showerror4 = true;
                }else {
                    this.showerror4 = false;
                }
                if(this.city == ''){
                    this.showerror5 = true;
                } else {
                    this.showerror5 = false;
                }
                if(this.zipcode == ''){
                    this.showerror6 = true;
                }else {
                    this.showerror6 = false;
                }

                if(this.showerror1 && this.showerror2 && this.showerror3 && this.showerror4 && this.showerror5 &&this.showerror6){
                    return;
                }
                console.log('submitting form');
                
                $.post("https://icaravan.freshsales.io/smart_form/create_entity", {
                        'lead[first_name]': this.first_name,
                        'lead[last_name]': this.last_name,
                        'lead[email]': this.email,
                        'lead[mobile_number]': this.mobile,
                        'lead[city]': this.city,
                        'lead[zipcode]': this.zipcode,
                        'lead[deal][name]': this.reg_number,
                        'lead[custom_field][cf_url]': this.activeurl,
                        'entity_type': 1,
                        'asset_key': '139d2edcc0cc8e7a92707caa15b64dadafc35a38c347453a6d4793ccf7b6bc8d',
                        
                    })
                    .done( function(msg) { 
                        if(msg.status == 'ok'){
                            console.log('ok');
                            self.showSuccess = true;
                            self.first_name='';
                            self.last_name='';
                            self.email='';
                            self.mobile='';
                            self.city='';
                            self.zipcode='';
                            self.reg_number='';
                        } 
                    })
                    .fail( function(xhr, textStatus, errorThrown) {
                        console.log(xhr.responseText);                        
                    });               
            }
        },
        mounted(){

            this.activeurl = this.$store.state.currenturl ? this.$store.state.currenturl : 'Direct';
            var my_awesome_script = document.createElement('script');
            my_awesome_script.setAttribute('src','https://d952cmcgwqsjf.cloudfront.net/assets/webform-5ecfee3987a35c65f7feafdc76f38eb24a2426c6.js');
            
            document.getElementById('appendscript').appendChild(my_awesome_script);
        }


    }
</script>

<style scoped>
     .loader-box {
                        width: 100%;
                        margin: auto;
                        margin-top: 50px;
                        text-align: center;
                    }

                    .loader {
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        animation: spin 1s linear infinite;
                        border-top: 3px solid #FFA800;
                        border-bottom: 3px solid #FFA800;
                        border-left: 3px solid #FFFFFF;
                        border-right: 3px solid #FFA800;
                        display: block;
                        margin: 25px auto;
                    }

                    @keyframes spin {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }

                    #loader-text {
                        vertical-align: middle;
                        text-align: center;
                        color: #333;
                        display: inline-block;
                        vertical-align: middle;
                        margin-top: -20px;
                        height: 100%;
                    }

                    .fserv-body {
                            background-color: #fff5e5 !important;
                        }

                        .fserv-container {
                            font-family: Inherit !important;
                            background-color: #ffffff !important;
                            width: 100% !important;
                            max-width: 600px;
                        }

                        .fserv-form-name {
                            color: #000000 !important;
                            font-size: 24px!important;
                            font-weight: bold;
                        }

                        button[type="submit"].fserv-button-submit {
                            background-color: #ffa800 !important;
                        }

                        .fserv-container button[type="submit"].fserv-button-submit.btn-saving::after {
                            background-color: rgba(255, 255, 255, 0.3) !important;
                        }

                        .fserv-label,
                        .fserv-form-description {
                            color: #666666 !important;
                                font-size: 14px;
                        }

                        .fserv-container .fserv-hidden {
                            display: none;
                        }

                        .loader {
                            border-top: 3px solid #ffa800;
                            border-bottom: 3px solid #ffa800;
                            border-left: 3px solid #ffffff;
                            border-right: 3px solid #ffa800;
                        }

                        .form-modal{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background: #fff5e5 !important;
        padding-top: 100px;
}
.showerror{
    display: inline-block;
}
.showSuccess{
    display: block;
    opacity: 1;
    background: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
</style>

