* {
    -webkit-overflow-scrolling: touch;
}

.pointer{
	cursor:pointer;
}

.product-hover {
	border: 1px solid transparent;
}  

.blue-btn:hover {
      background:#4181b6 !important;
}

.my-btn-2:hover, .my-btn-2:focus {
  background:#4181b6 !important; 			
  color: white !important;
  text-decoration: none;
 }
 

/* Track */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3D8FCB; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3D8FCB; 
}

.santander-image{
  height:30px !important;
}

@media only screen and (max-width: 580px){
    // .santander-image{
    //   height:50px;
    // }
  }

#formdiv{
    // display:none;
}


